*~
*.o
*.lo
*.la
*Dict.h
*Dict.cc
.DS_Store
src/*/.deps
src/*/.libs
src/psi46expert/psi46debugData
src/psi46expert/psi46expert
src/psi46expert/psi46hvOff
src/psi46expert/psi46hvOn
src/psi46expert/psi46hvRead
src/psi46expert/psi46readData
src/psi46expert/psi46takeData

# Autogen files to be ignored:
Makefile*
data/*/Makefile*
data/Makefile*
src/Makefile*
src/*/Makefile*
src/config.h.in
src/stamp-h1
aclocal.m4
autom4te.cache
config.*
configure
configure.ac
depcomp
install-sh
ltmain.sh
missing
libtool
