*~
*.o
*.lo
*.la
*Dict.h
*Dict.cc
.DS_Store
src/psi46expert/.deps
src/psi46expert/.libs

# Autogen files to be ignored:
Makefile.in
data/*/Makefile.in
data/Makefile.in
src/Makefile.in
src/*/Makefile.in
src/config.h.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
configure.ac
depcomp
install-sh
ltmain.sh
missing
