*~
*.o
*.lo
*.la
*Dict.h
*Dict.cc
.DS_Store
src/psi46expert/.deps
src/psi46expert/.libs

# Autogen files to be ignored:
Makefile*
data/*/Makefile*
data/Makefile*
src/Makefile*
src/*/Makefile*
src/config.h.in
src/stamp-h1
aclocal.m4
autom4te.cache
config.*
configure
configure.ac
depcomp
install-sh
ltmain.sh
missing
src/*/.deps/
libtool
